* {
  margin: 0;
  padding: 0;
}

div.topo
{
  height: 30%;
  width: auto;
}

.topo img{
  width:100%;
	height:100%;
}

div.corpo{
  height: 60%;
  width: auto;
  line-height: 2em;

}
